@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #303030;
}

.form-control {
  margin-bottom: 20px;
  text-align: left;
}

.form-control label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #303030;
}

.form-control input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #303030;
  padding-right: 150px;
}

#eye-icon {
    position: absolute;
    top: 50%;
    right: 0.5px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right: 6px;
  }

.btn {
  background-color: #03a9f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #0277bd;
}
